#App{
  display:flex;
  flex-direction: column;
  margin: 5px auto ;
  align-items: center;
  width: 100vw;
  
}

.feedback
{
  
  border: solid black 1px;
  border-radius: 5px;
  padding: 1.5rem;
  display:flex;
  flex-direction: column;
  align-items: left;
  background-image: linear-gradient(to top right,#154919,white);
  
}

input,textarea {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  color:black;
}

textarea{
   resize: vertical;
   min-height: 100px;
}

p
{
  padding: 5px;
}